<!-- Secondary menu and header -->
<div class="ui secondary  menu">
  <div class="header item">
    {{ Page.options.title }}
  </div>
</div>

<div class="ui segment">

	<h2 class="ui header">About</h2>
	<div class="ui divider"></div>
	<p>
		The purpose if this app is to provide a simple and secure way to encode and decode base64. We tend to use online tools such as base64encode.org which are great, but those tools exists without any guarantee of data integrity. Meaning, we don't know if online tools are saving your sensitive data. This compromises security and may affect the company. With this tool we guarantee that the data you encode & decode, never gets persisted, re-used or distributed in any way. This app exists on Github and you may look at the source code at <a href="https://github.com/amimof/base64-web">github.com/amimof/base64-web</a>.<br/><br/>
		There are many tools that provide API's to encode and decode base64 strings. Almost all programming languages provides this capability and you are free to use whatever tool you like. This app simply encourages you to be aware of the security vulnerabilities on the internet. 
	</p>


	<h2 class="ui header">Usage</h2>
	<div class="ui divider"></div>
	<p>
		Using this app is simple. Paste the text that is to be encoded into the left textbox. The inputed text will automatically be encoded and displayed in the right textbox. You may of course paste an already encoded text in the right box and the text is automatically decoded in the left box. You may also write base64 in the right box, if you're a robot. 
	</p>

	<h2 class="ui header">The REST API</h2>
	<div class="ui divider"></div>
	<p>
		This app exposes a simple REST api that lets you encode & decode text. 
	</p>


	<h3 class="ui header">Encoding</h3>
	<div class="ui divider"></div>

	<h4 class="ui top attached header">
	  <div class="code">GET /api/base64/encode/helloworld</div>
	</h4>
	<div class="ui attached mini segment">
		Result
	</div>
	<div class="ui attached secondary segment">
	  <pre>{
  "input": "helloworld",
  "output": "aGVsbG93b3JsZA==",
  "encoding": "utf8",
  "timestamp": "2016-12-16T12:28:29.523Z"
}</pre>
	</div>

	<h4 class="ui top attached header">
	  <div class="code">POST /api/base64/encode</div>
	</h4>
	<div class="ui attached mini segment">
		Body
	</div>
	<div class="ui attached secondary segment">
		<pre>{
  "data": "May the force be with you."
}</pre>
	</div>
	<div class="ui attached mini segment">
		Result
	</div>
	<div class="ui attached secondary segment">
	  <pre>
{
  "input": "helloworld",
  "output": "aGVsbG93b3JsZA==",
  "encoding": "utf8",
  "timestamp": "2016-12-16T12:28:29.523Z"
}</pre>
	</div>	

	<h3 class="ui header">Decoding</h3>
	<div class="ui divider"></div>

	<h4 class="ui top attached header">
	  <div class="code">GET /api/base64/decode/aGVsbG93b3JsZA==</div>
	</h4>
	<div class="ui attached mini segment">
		Result
	</div>
	<div class="ui attached secondary segment">
	  <pre>{
  "input": "aGVsbG93b3JsZA==",
  "output": "helloworld",
  "encoding": "utf8",
  "timestamp": "2016-12-16T13:04:56.599Z"
}</pre>
	</div>

	<h4 class="ui top attached header">
	  <div class="code">POST /api/base64/decode</div>
	</h4>
	<div class="ui attached mini segment">
		Body
	</div>
	<div class="ui attached secondary segment">
		<pre>{
  "data": "TWF5IHRoZSBmb3JjZSBiZSB3aXRoIHlvdS4="
}</pre>
	</div>
	<div class="ui attached mini segment">
		Result
	</div>
	<div class="ui attached secondary segment">
	  <pre>
{
  "input": "TWF5IHRoZSBmb3JjZSBiZSB3aXRoIHlvdS4=",
  "output": "May the force be with you.",
  "encoding": "utf8",
  "timestamp": "2016-12-16T13:05:59.990Z"
}</pre>
	</div>	

</div>
