<!-- Secondary menu and header -->
<div class="ui secondary  menu">
  <div class="header item">
    {{ Page.options.title }}
  </div>
</div>

  
  <div class="ui two column grid">

    <div class="column">
      <div class="ui top attached menu">
        <div class="ui container">
          <span class="active item">{{ activeMode.name }}</span>
          <div class="right menu">
            <div class="ui left floating scrolling dropdown icon button item">
              <i class="setting icon"></i>
              <div class="menu">
                <div class="header">Syntax</div>
                <div class="item" ng-repeat="(index, mode) in modes" ng-click="setMode(index)">{{ mode.name }}</div>
              </div>
            </div>
            <a href="" class="right item" clipboard text="left.message" data-content="Copy to clipboard">
              <i class="copy icon"></i>
            </a>
            <a href="" class="right item" ng-click="clearLeft()">
              <i class="remove icon"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="ui bottom attached segment">
        <div class="ui fluid form">
          <div class="field">
            <div id="left-editor" class="editor" style="height: 320px"></div>
          </div>
        </div>
      </div>

    </div>
    <div class="column">
      <div class="ui top attached menu">
        <div class="ui container">
          <span class="active item">
            Encoded
          </span>
          <div class="right menu">

            <a href="" class="right item" clipboard text="right.message">
              <i class="copy icon"></i>
            </a>
            <a href="" class="right item" ng-click="clearRight()">
              <i class="remove icon"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="ui bottom attached segment">
        <div class="ui fluid form">
          <div class="field">
            <div id="right-editor" class="editor" style="height: 320px"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

