<!-- Secondary menu and header -->
<div class="ui secondary  menu">
  <div class="header item">
    {{ Page.options.title }}
  </div>
</div>

  
  <div class="ui two column grid">

    <div class="column">
      <div class="ui top attached mini menu">
        <div class="ui container">
          <span class="active item">
            Plain Text
          </span>
          <div class="right menu">
            <a href="#" class="right item" clipboard text="left.message" data-content="Add users to your feed">
              <i class="copy icon"></i>
            </a>
            <a href="#" class="item" ng-click="clearLeft()">
              <i class="remove icon"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="ui bottom attached segment">
        <div class="ui fluid form">
          <div class="field">
            <textarea class="code" rows="15" ng-model="left.message" ng-change="leftChanged()" msd-elastic spellcheck="false"></textarea>
          </div>
        </div>
      </div>

    </div>
    <div class="column">
      <div class="ui top attached mini menu">
        <div class="ui container">
          <span class="active item">
            Encoded
          </span>
          <div class="right menu">
            <a href="#" class="right item" clipboard text="right.message">
              <i class="copy icon"></i>
            </a>
            <a href="#" class="item" ng-click="clearRight()">
              <i class="remove icon"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="ui bottom attached segment">
        <div class="ui fluid form">
          <div class="field">
            <textarea class="code" rows="15" ng-model="right.message" ng-change="rightChanged()" msd-elastic spellcheck="false"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

